html{
  font-size: 100%;
}

body{
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: sans-serif;
  color: white;
}

nav header{
  height: 118px;
  display: flex;
  align-items: center;
  background-color: #505050ff;
  color: #fff;
  font-size: 1.66rem;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 25px solid black;
}

nav header h1{
  padding: 1rem 1rem 1rem 2rem;
}

nav header img{
  padding: 1rem 0rem 1rem 0rem;
  width: 8%;
  height: 80%;
}

nav ul{
  display: flex;
  position: absolute;
  right: 0px;
  list-style-type: none;
}

nav ul li{
  display: flex;
  height: 45px;
  border-left: 3px solid black;
  padding: 1rem;
}

nav ul li a img{
  padding-right: 0.5rem;
  height: auto;
  width: 60px;
}

nav ul li:hover{
  background-color: #00bfffff;
}

nav ul li a{
  display: flex;
  color: white;
  text-decoration: none;
  align-items: center;
}

.main_content{
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#primary{
  padding: 1rem;
  background-color: #505050ff;
  border-left: 25px solid black;
  border-right: 25px solid black;
}

h2{
  border-bottom: 3px solid #00bfffff;
}

#secondary{
  padding: 1rem;
  background-color: #505050ff;
  border-right: 25px solid black;
}

#secondary ul{
  list-style-type: none;
}

#secondary ul li{
  width: 90%;
  padding: 1rem;
  border-top: 3px solid black;
}

#secondary ul li a{
  padding-right: 2rem;
}

#secondary ul li img{
  border: 2px solid #00bfffff;
  vertical-align: middle;
  width: 17%;
}

#secondary ul li img:hover{
  transform: translateY(-10px);
  box-shadow: 5px 10px #000;
}

#secondary ul li:nth-child(3) {
  border-bottom: 3px solid black;
}

#secondary ul li a{
  color: white;
  text-decoration: none;
}

footer{
  line-height: 125px;
  height: 125px;
  background-color: #505050ff;
  color: #fff;
  font-size: 1.66rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-top: 25px solid black;
}

footer a{
  padding: 1rem;
  color: white;
  text-decoration: none;
}

footer img{
  vertical-align: middle;
  width: 60px;
}

#insta{
  width: 50px;
}
