html{
  font-size: 100%;
}

body{
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: sans-serif;
  color: white;
}

header{
  height: 118px;
  display: flex;
  flex: 2;
  background-color: #505050ff;
  color: #fff;
  font-size: 1.66rem;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 25px solid black;
}

header h1{
  padding: 1rem 1rem 1rem 2rem;
}

header img{
  padding: 1rem 0rem 1rem 0rem;
  width: 8%;
  height: 80%
}

nav ul{
  display: flex;
  list-style-type: none;
}

nav ul li:nth-child(5){
  border-right: 3px solid black;
}

nav ul li{
  text-align: center;
  width: 12rem;
  border-left: 3px solid black;
  padding: 1rem;
}

nav ul li a img{
  width: 30%;
}

nav ul li:hover{
  background-color: #00bfffff;
}

nav ul li a{
  color: white;
  text-decoration: none;
}

.main_content{
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#primary{
  padding: 1rem;
  background-color: #505050ff;
  border-left: 25px solid black;
  border-right: 25px solid black;
}

#primary h2{
  border-bottom: 3px solid #00bfffff;
}

#secondary{
  padding: 1rem;
  background-color: #505050ff;
  border-right: 25px solid black;
}

#secondary h2{
  border-bottom: 3px solid #00bfffff;
}

#secondary ul{
  list-style-type: none;
}

#secondary ul li{
  padding: 1rem;
  border-top: 3px solid black;
}

#secondary ul li img{
  width: 17%;
}

#secondary ul li:nth-child(3) {
  border-bottom: 3px solid black;
}

#secondary ul li a{
  color: white;
  text-decoration: none;
}

footer{
  height: 125px;
  background-color: #505050ff;
  color: #fff;
  font-size: 1.66rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-top: 25px solid black;
}

footer a{
  color: white;
  text-decoration: none;
}

footer img{
  width: 5%;
}
